# Node
node_modules/
dist/
coverage/
.vite/
*.log

# Env & secrets
.env
*.env
.env.*.local
*.local

# OS & editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Package managers
bun.lockb
pnpm-lock.yaml
yarn.lock
